body {
    margin: 0;
}

div#gameboard {
    display: flex;
}

div#chessboard {
    display: flex;
    flex-wrap: wrap;
}

div#discard {
    display: flex;
    flex-direction: column;
}

div#blackDiscard, div#whiteDiscard {
    display: flex;
}

div.square, div.piece {
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
}

div.square.high {
    background-color: rgb(235, 184, 152);
}

div.square.low {
    background-color: rgb(86, 50, 27);
}

div.piece.wp {
    background-image: url('piece-pawn.w.forhtml.png');
}

div.piece.bp {
    background-image: url('piece-pawn.b.forhtml.png');
}

div.piece.wr {
    background-image: url('piece-rook.w.forhtml.png');
}

div.piece.br {
    background-image: url('piece-rook.b.forhtml.png');
}

div.piece.wn {
    background-image: url('piece-knight.w.forhtml.png');
}

div.piece.bn {
    background-image: url('piece-knight.b.forhtml.png');
}

div.piece.wb {
    background-image: url('piece-bishop.w.forhtml.png');
}

div.piece.bb {
    background-image: url('piece-bishop.b.forhtml.png');
}

div.piece.wq {
    background-image: url('piece-queen.w.forhtml.png');
}

div.piece.bq {
    background-image: url('piece-queen.b.forhtml.png');
}

div.piece.wk {
    background-image: url('piece-king.w.forhtml.png');
}

div.piece.bk {
    background-image: url('piece-king.b.forhtml.png');
}